body {font-family:arial;font-size:15px;background-color:lightblue;margin-left:2em;margin-right:2em}

#cabecera{background-color:beige;margin:5px;padding:5px}
#titulo {color:white;background-color:darkblue;text-align:center}
#subtitulo {color:black;background-color:slateblue}

.titulo_receta{background-color:orange;color:red}
.imagen_receta{float:right}

.tabla {border-collapse:collapse;text-align:left;background-color:lightblue}
.tabla td{width:20%}
.tabla th {background-color: green;color: black; padding:5px}
.tabla tr:nth-child(even){background-color: lightgrey}
.tabla tr:nth-child(odd){background-color: white}

.elaboracion {text-decoration:underline}
.instrucciones{text-align:left}

#enlaces a:link{color:hotpink}
#enlaces a:visited {color:grey}
#enlaces a:hover {color:blue}