body {font-family:arial;font-size:15px}
h1.a {color:white;background-color:darkblue;text-align:center}
h2.a {color:black;background-color:darkgreen}
h3.a {color:red;background-color:orange}
div{background-color:lightblue;margin:5px;padding:5px}
table.b {border-collapse: collapse;width: 50%;text-align:left}
table.b, th {background-color: green;color: black; padding:5px}
table.b, tr:nth-child(even){background-color: lightgrey}
table.b, tr:nth-child(odd){background-color: white}
a.c:link {color:hotpink}
a.c:visited {color:grey}
a.c:hover {color:blue}